[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
beautifulsoup4 = "*"
requests = "*"
urllib3 = "*"
setuptools = "*"
html2text = "*"
llama-index = "*"
openai = "*"
pinecone-client = "*"
python-dotenv = "*"
black = "*"
unstructured = "*"
llama-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
