[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
beautifulsoup4 = "*"
requests = "*"
urllib3 = "*"
setuptools = "*"
html2text = "*"
llama-index = "*"
openai = "*"
pinecone-client = "*"
python-dotenv = "*"
black = "*"
unstructured = "*"
llama-hub = "*"
streamlit = "*"
llama-index-core = "*"
llama-index-vector-stores-pinecone = "*"
llama-index-readers-file = "*"
llama-index-readers-pinecone = "*"
llama-index-readers-web = "*"
watchdog = "*"
llama-index-postprocessor-cohere-rerank = "*"

[dev-packages]

[requires]
python_version = "3.10"
